
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: basic-sans,sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
}

  .content {
    width: 95vw;
    margin: .3rem auto;
    min-height: calc(100vh - 112.64px - 59.6px);
    box-sizing: border-box; 
    line-height: 1.6rem;
    font-family: 'Times New Roman', Times, serif;
  }

