.intro,.resume{
    margin: 1rem auto;
    width: 90%;
    /* background-color: rgb(180, 180, 180); */
}

.intro img{
    float: left;
    width: 20rem;
    max-height: 20rem;
    border-radius: 50%;
    margin-left: 5rem;
}

.text-box,.resume{
    box-shadow: 0 15px 50px rgba(0,0,0,.2);
    border-radius: 15px;
    padding: 20px;
    margin: 70px;
}

.text-box p,.resume p{
    margin: 1rem;
    padding: .5rem;
    text-align: center;
}

.intro .text-box h1{
    text-align: center;
    margin: .5rem;
    font-size: 2rem;
} 



.front-end h2, .back-end h2{
    background-color: rgb(60, 101, 101);
    color: white;
    width: 50%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 1.5rem;
}

.skills ul{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
    align-items: center;
}
.skills ul >*{
    background-color: rgb(150, 178, 156);
    border-radius: 10px;
    margin-top: .5rem;
    list-style: none;
    color: black;
    padding: 0 1rem 1.5rem 1rem;
    width: 450px;
    list-style: none;
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.click{
    transform: scale(1.5);
    transition: 2s;
    position: relative;
    left: 10%;
} 

  a:active{
    background-color: aqua;
  }