
.header {
  display: flex;
  background-color: #4CAF50;
  min-height: 5rem;
  align-items: center;
}

  .logo{
    display: grid;
  }
  

  .logo span{
    font-family: monospace;
    color: white;
    font-size: 1.9rem;
    margin-left: .5rem;
    margin-right: .5rem;
  }
  
  .logo img{
    margin-left: 1rem;
    margin-right: 1rem;
    width: 4em;
    height: 4em;
    border-radius: 50%;
  }

  .header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 1rem;
    list-style: none;
    margin-left: auto;
    padding: 0;
    margin-right: 1rem;
  }
  
  .header ul > * {
    padding: .5rem;
  }

  .header ul li a{
    text-decoration: none;
    color:  white;
  }
  
.header ul li:hover > a{
    background-color: aliceblue;
    border-radius: 5px;
    padding: .5rem;
    transition: .8s;
    color: black;
  }