
.download{
    display: flex;
    justify-content: center;
    align-items: center;
}
.download .fa{
  margin-right: 1rem;
}

.download a button{
    margin-top: 1rem;
    padding: 1.5rem;
    background-color: rgb(57, 80, 103);
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px;
    justify-content: center;
    margin: 1rem;
}

.download a button span{
    color: white;
}

  
  /* Darker background on mouse-over */
  .download a button:hover {
    background-color: RoyalBlue;
  }